
.form__input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}


.form__input,
.form__button {
  margin: 10px;
  padding: 10px;
}

.form__button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: #0A66C2;
}

.form__button:hover {
  background-color: #16437E;
}

.form__error {
  text-align: center;
}