.crear-ficha-medica-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .titulo-ficha {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .seccion {
    margin-bottom: 20px;
  }
  
  .subtitulo-seccion {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .campo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .label-campo {
    width: 150px; /* Ancho fijo para el label */
    margin-right: 10px; /* Espacio entre label e input */
    font-weight: bold;
  }
  
  .input-campo {
    width: 500px; /* Ancho fijo para el campo de información */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.input-checkbox {
    align-items: center;
    justify-content: center;
}

  .campo.checkbox {
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
  }
  
  .campo.checkbox label {
    margin-right: 5px; /* Espacio entre el label y el checkbox */
    width: 150px; /* Ancho fijo para el label del checkbox */
  }
  
  .btn-submit {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-submit:hover {
    background-color: #218838;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  